.selection {
  .selection-color {
    &::selection {
      background-color: var(--color-red);
      color: var(--color-ink);
    }
  }

  .selection-shadow {
    &::selection {
      text-shadow: 0 0 15px var(--color-white);
    }
  }

  .selection-none {
    user-select: none;
  }
}
