.selection {
  .selection-color {
    &::selection {
      background-color: $color-red;
      color: $color-ink;
    }
  }

  .selection-shadow {
    &::selection {
      text-shadow: 0 0 15px $color-white;
    }
  }

  .selection-none {
    user-select: none;
  }
}
