@use "sass:color";

/* main colors */
$color-green: #38cc76;
$color-green-dark-10: color.adjust($color-green, $lightness: -10%);
$color-red: #cc3838;
$color-warning: #d53b3b;
$color-white: #eeeef0;
$color-white-transparent-10: color.adjust($color-white, $alpha: -0.1);
$color-white-transparent-20: color.adjust($color-white, $alpha: -0.2);
$color-white-transparent-30: color.adjust($color-white, $alpha: -0.3);
$color-white-transparent-40: color.adjust($color-white, $alpha: -0.4);
$color-white-transparent-50: color.adjust($color-white, $alpha: -0.5);
$color-gray: #adadad;
$color-black: #000000;
$color-charcoal: #171717;
$color-ink: #1e1e1e;
$color-ink-light-10: color.adjust($color-ink, $lightness: 10%);
$color-ink-light-20: color.adjust($color-ink, $lightness: 20%);
$color-ink-light-30: color.adjust($color-ink, $lightness: 30%);
$color-ink-light-40: color.adjust($color-ink, $lightness: 40%);
$color-ink-light-50: color.adjust($color-ink, $lightness: 50%);

$color-blue: #3b8bd5;
$color-transparent: transparent;

/* special colors */
$color-special-hsl-1: hsl(223, 100%, 50%);
$color-special-hsl-2: hsla(350, 75%, 49%, 0.96);
$color-special-hsl-3: hsla(213, 68%, 75%, 1);
$color-special-hsl-4: hsla(226, 72%, 54%, 0.76);
$color-special-hsl-5: hsla(189, 100%, 74%, 1);
$color-special-hsl-6: hsla(350, 100%, 56%, 0.76);
$color-special-hsl-7: hsl(157, 100%, 52%);
$color-special-hsl-8: hsla(141, 100%, 76%, 1);
$color-special-hsl-9: hsl(205, 81%, 49%);
$color-special-hsl-10: hsl(278, 80%, 53%);
$color-special-hsl-11: hsl(0, 82%, 40%);

$color-special-oklch-1: oklch(77% 0.5 200);
$color-special-oklch-2: oklch(77% 0.5 230);
$color-special-oklch-3: oklch(77% 0.5 260);
$color-special-oklch-4: oklch(77% 0.5 280);
$color-special-oklch-5: oklch(77% 0.5 300);
$color-special-oklch-6: oklch(70% 0.3 0);
$color-special-oklch-7: oklch(100% 0.25 160);
$color-special-oklch-8: oklch(75% 0.5 180);
$color-special-oklch-9: oklch(75% 0.5 210);
$color-special-oklch-10: oklch(75% 0.5 230);
$color-special-oklch-11: oklch(75% 0.5 260);
$color-special-oklch-12: oklch(80% 0.3 305);

$color-special-pure-red: red;
$color-special-pure-green: #00ff00;
$color-special-pure-blue: blue;

$color-special-text-gradient-1: $color-special-pure-red;
$color-special-text-gradient-2: hsl(120, 100%, calc(90% - 10%));
$color-special-text-gradient-3: $color-special-pure-green;
$color-special-text-gradient-4: rgb(calc(0% + 10%), 0, 255);
$color-special-text-gradient-5: rgba(255, 0, 0, 1);
$color-special-text-gradient-6: rgb(0, 8, 227);
$color-special-text-gradient-7: rgb(255, 0, 189);
$color-special-text-gradient-8: hsl(0, 70%, 50%);
$color-special-text-gradient-9: hsl(180, 70%, 50%);
$color-special-text-gradient-10: hsl(360, 70%, 50%);
