@use 'colors';
@forward 'colors';

@use 'design-tokens';
@forward 'design-tokens';

$breakpoint-400: 400px;
$breakpoint-425: 425px;
$breakpoint-600: 600px;
$breakpoint-900: 900px;
$breakpoint-1200: 1200px;
$breakpoint-2000: 2000px;
