.css-video-description {
  display: flex;
  flex-direction: column;
  align-items: center;

  .author {
    margin: 0;
    width: 100%;
    text-align: left;

    a {
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .warning {
    margin-bottom: 30px;

    span {
      display: block;
      color: var(--color-warning);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
  }
}

.loading {
  width: 100%;
  height: 200px;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  margin-top: 20px;
}

.component {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-duration: 219.05s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

@for $i from 0 through 293 {
  .component-#{$i} {
    :global {
      animation-name: play-#{$i};
    }
  }
}
