.media-queries {
  h2 {
    @include subtitle;
  }

  .range-syntax {
    @media (400px < width <= 2000px) {
      span {
        color: $color-green;
      }
    }
  }

  .supports-rule {
    span {
      color: $color-red;

      @supports (display: grid) {
        color: $color-green;
      }
    }
  }
}
