.media-queries {
  h2 {
    @include subtitle;
  }

  .range-syntax {
    @media (400px < width <= 2000px) {
      span {
        color: var(--color-green);
      }
    }
  }

  .supports-rule {
    span {
      color: var(--color-red);

      @supports (display: grid) {
        color: var(--color-green);
      }
    }
  }
}
