@import '@mixins';

.mediaQueries {
  h2 {
    @include subtitle;
  }

  .rangeSyntax {
    @media (400px < width <= 2000px) {
      span {
        color: $color-green;
      }
    }
  }

  .supportsRule {
    span {
      color: $color-red;

      @supports (display: grid) {
        color: $color-green;
      }
    }
  }
}
