.error {
  overflow-x: hidden;
  padding: 40px;

  h1,
  h2 {
    width: 100%;
    text-align: center;
  }

  pre {
    margin: 50px auto;
    width: max-content;
    white-space: break-spaces;
  }

  h2 {
    span {
      font-weight: normal;
    }
  }
}
