.scroll-behaviours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  h2 {
    font-weight: normal;
    width: 100%;
    border-bottom: 1px solid var(--color-white);
  }

  .square-text {
    margin: 30px 0 15px;
  }

  .smooth-scroll {
    a {
      font-weight: normal;
      font-size: 0.9em;
      margin-right: 5px;
      color: var(--color-white);
      text-decoration: underline;
      transition: opacity 0.2s ease-in-out;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .scroll-snap {
    div {
      @include scroll-padding;

      scroll-snap-type: y mandatory;
      display: flex;
      flex-direction: column;
      gap: 100px;
      max-height: 200px;
      overflow-y: auto;

      img {
        margin: 0 auto;
        width: 300px;
        scroll-snap-align: center;
      }
    }
  }

  .nested-scrolls {
    div {
      @include scroll-padding;

      overflow-y: auto;
    }

    > div {
      height: 200px;

      div {
        height: calc(160%);
      }
    }
  }

  .scroll-gutter {
    span {
      display: block;
      width: 100%;
      background-color: var(--color-red);
    }

    div {
      scrollbar-gutter: stable;
      overflow-y: auto;
    }
  }

  .scroll-timeline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .scroll-timeline-inner {
      display: flex;
      gap: 10px;
      width: 100%;
    }
  }

  .scroll-timeline-container {
    @include scroll-padding;

    max-height: 300px;
    overflow-x: auto;
    scrollbar-gutter: stable;
    flex: 1;

    .scroll-content {
      contain: strict;
      outline: 5px solid var(--color-green);
      outline-offset: -5px;
      border-radius: 10px;

      &.view {
        height: 1000px;
        animation: scroll-timeline-height;
        animation-timeline: view(20px);
      }

      &.scroll {
        height: 1000px;
        animation: scroll-timeline-height;
        animation-timeline: scroll();
      }
    }

    &.rotate {
      animation: scroll-timeline-rotate;
      animation-timeline: scroll(self);

      .scroll-content {
        height: 1000px;
      }
    }
  }

  .scroll-rotate {
    margin: 20px;
    width: 120px;
    aspect-ratio: 1;
    animation: rotate;
    animation-timeline: scroll(self);
    overflow: auto;
    scrollbar-width: none;
    color: var(--color-white);

    &::-webkit-scrollbar {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 5000%;
      aspect-ratio: 1;
      background-color: var(--color-charcoal);
    }
  }
}

@keyframes scroll-timeline-height {
  0% {
    height: 1000px;
  }

  100% {
    height: 10px;
  }
}

@keyframes scroll-timeline-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
