.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .buttons {
    display: flex;
    gap: 10px;
  }

  h2 {
    @include subtitle;
  }

  canvas {
    outline: 1px solid slategray;
  }
}

.grid-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
