.canvas-container {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .buttons {
      display: flex;
      gap: 10px;
    }

    canvas {
      outline: 1px solid slategray;
    }
  }

  .canvasWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 20px;
    place-items: center;

    canvas {
      grid-column: 2;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .current-test {
        background-color: darken(aliceblue, 10%);
      }
    }
  }
}
