.cssGradients {
  .gradients {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    > div > div {
      width: 100%;
      aspect-ratio: 5/3;
    }
  }

  .gradientMesh {
    background-color: hsla(0, 100%, 50%, 1);
    background-image: radial-gradient(at 22% 82%, hsla(350, 93%, 65%, 0.59) 0px, transparent 50%),
      radial-gradient(at 28% 48%, hsla(213, 68%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 51% 15%, hsla(41, 100%, 56%, 0.42) 0px, transparent 50%),
      radial-gradient(at 30% 41%, hsla(189, 100%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 83% 24%, hsla(350, 100%, 56%, 0.76) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(156, 100%, 93%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(141, 100%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(183, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(43, 100%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(144, 100%, 76%, 1) 0px, transparent 50%);
  }

  .gradient1 {
    background-image: conic-gradient(
      from 101deg at 70% 78% in oklab,
      oklch(77% 0.5 200) 0%,
      26%,
      oklch(77% 0.5 230) 0% 0%,
      46%,
      oklch(77% 0.5 260) 0% 0%,
      60%,
      oklch(77% 0.5 280) 25% 1%,
      82%,
      oklch(77% 0.5 300) 0% 0%
    );
  }

  .gradient2 {
    background-image: conic-gradient(
      from 0deg at center in oklch longer hue,
      oklch(70% 0.3 0) 0%,
      oklch(70% 0.3 0) 100%
    );
  }

  .gradient3 {
    background-image: radial-gradient(
      farthest-corner circle at top left in oklch,
      oklch(100% 0.25 160) 0%,
      26%,
      oklch(75% 0.5 180) 0% 0%,
      oklch(75% 0.5 210) 0% 0%,
      oklch(75% 0.5 230) 0% 0%,
      55%,
      oklch(75% 0.5 260) 0% 0%,
      oklch(80% 0.3 305) 100%
    );
  }

  .svgGradient {
    overflow: hidden;
  }
}
