// TODO move to each intl component
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    @include subtitle;
  }

  .test-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .select {
    max-width: min(100%, 310px);
  }

  .selects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .select-with-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;

    span {
      opacity: 0.8;
    }
  }

  .number-input {
    max-width: min(100%, 150px);
  }

  .dates {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .warning {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      color: $color-warning;
    }
  }

  .pass {
    color: $color-green;
  }

  .fail {
    color: $color-red;
  }

  .pre {
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;

    &.rtl {
      direction: rtl;
    }
  }

  .test-string-input-container {
    display: flex;
    gap: 5px;
  }

  .collator {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .collator-test {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-row-gap: 5px;
      grid-column-gap: 10px;
    }

    .description {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .test-string-input {
    display: flex;
    gap: 10px;
  }

  .test-string-output {
    @include scroll;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 300px;
    overflow-y: auto;
  }

  .list-format {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .plural-rules {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .plural-rules-code {
      min-width: 160px;
    }
  }

  .segments-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .segments {
      @include scroll;

      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      max-height: 300px;
      overflow-y: auto;

      .segment {
        padding: 4px;
        overflow: hidden;
        min-width: 16px;
        display: grid;
        place-items: center;
      }
    }
  }

  .test-settings {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 5px;
    margin-bottom: 15px;
  }
}
