.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    @include subtitle;
  }

  .test-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .select {
    max-width: min(100%, 310px);
  }

  .selects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .select-with-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;

    span {
      opacity: 0.8;
    }
  }

  .number-input {
    max-width: min(100%, 150px);
  }
}
