@import '@mixins';

.webStorage {
  h2 {
    @include subtitle;
    margin-bottom: 10px;
  }

  button {
    margin: 10px 0;
  }

  .error {
    color: #cc3838;
  }

  .success {
    color: #38cc76;
  }
}
