.header {
  display: grid;
  place-items: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
  }

  .link {
    width: 100px;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    text-decoration: none;
    padding: 4px 2px;

    &:hover {
      text-decoration: underline;
    }
  }
}
