.container {
  width: 100%;
  padding: 20px;

  h2 {
    @include subtitle;
  }

  h1 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    padding: 0 20%;
    margin-bottom: 80px;
  }

  .iframes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      margin: 10px 0;
      text-decoration: none;
      color: var(--color-white);
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }

    .iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      display: block;
      border: none;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a {
      text-decoration: none;
      color: var(--color-white);
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.project {
  margin-top: 10px;
}

.with-url {
  &.project {
    margin-top: 0;
  }

  > a {
    margin: 10px 0;
    display: block;
  }
}

.collapse {
  padding: 0;

  .collapse-head {
    padding-left: 0;

    .head-content {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .icon {
        transition: transform 1s;
      }

      &.open {
        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}
