@import '@mixins';

.container {
  width: 100%;
  padding: 20px;

  .withUrl {
    > h2 {
      margin-bottom: 0;
    }

    > a {
      margin: 10px 0;
      display: block;
    }
  }

  h2 {
    @include subtitle;
  }

  h1 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    padding: 0 20%;
    margin-bottom: 80px;
  }

  .iframes-container {
    padding: 0 50px;

    a {
      margin: 10px 0;
      text-decoration: none;
      color: $color-white;
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }

    .iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      display: block;
      border: none;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a {
      text-decoration: none;
      color: $color-white;
      cursor: pointer;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
