.test-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select {
  max-width: min(100%, 310px);
}

.select-with-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;

  span {
    opacity: 0.8;
  }
}
