.test-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number-input {
  max-width: min(100%, 150px);
}

.plural-rules {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .plural-rules-code {
    min-width: 160px;
  }
}
