.writing-modes {
  .rectangle-container {
    width: fit-content;
    aspect-ratio: 1;
    margin: auto auto 20px;

    span {
      display: block;
    }

    :nth-child(1) {
      writing-mode: horizontal-tb;
    }

    :nth-child(2) {
      writing-mode: vertical-rl;
      display: inline;
      float: left;
      rotate: 180deg;
    }

    :nth-child(3) {
      display: inline;
      writing-mode: vertical-lr;
      float: right;
    }

    :nth-child(4) {
      writing-mode: horizontal-tb;
      transform: rotate(180deg);
      clear: both;
    }
  }

  .direction {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      direction: rtl;
      unicode-bidi: bidi-override;
    }
  }
}
