@import '@mixins';

.misc {
  h2 {
    @include subtitle;
  }

  .glow {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .glowDiv {
      width: 100px;
      aspect-ratio: 1;
      border-radius: 5px;
    }

    .glowSvg {
      color-rendering: optimizeQuality;
      shape-rendering: geometricPrecision;

      * {
        color-rendering: optimizeQuality;
        shape-rendering: geometricPrecision;
      }
    }
  }
}
