:root {
  --pseudo-selector-test-root: 'Pass';
}

:scope {
  --pseudo-selector-test-scope: 'Pass';
}

.pseudo {
  h3 {
    width: 100%;
    border-bottom: 1px solid transparentize($color-white, 0.6);
    padding-bottom: 4px;
    font-weight: 400;
  }

  .before {
    &:before {
      content: 'It works! 🐞';
    }
  }

  .after {
    display: flex;
    flex-direction: column-reverse;

    &:after {
      content: 'This line should be first';
    }

    &:before {
      content: 'This line should be last';
    }
  }

  .first-letter {
    &:before {
      content: 'First letter should be green';
    }

    &:first-letter {
      color: $color-green;
    }
  }

  .first-line {
    width: 10px;

    &:before {
      content: 'First word should be green';
      white-space: pre-wrap;
    }

    &:first-line {
      color: $color-green;
    }
  }

  .placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      width: 120px;
      padding: 2px;
      border-radius: 3px;
      outline: none;
      background-color: $color-ink;
      border: 1px solid $color-white;
      caret-color: $color-white;
      color: $color-white;

      &::placeholder {
        font-family: monospace;
        color: $color-green;
      }
    }
  }

  .selection {
    span::selection {
      background: $color-green;
      color: $color-white;
    }
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      cursor: pointer;
      width: min-content;
      padding: 2px 5px;

      &:active {
        outline: none;
        color: $color-green;
        background-color: $color-ink;
      }
    }
  }

  .hover {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      cursor: pointer;
      width: min-content;
      padding: 2px 5px;

      &:hover {
        outline: none;
        color: $color-green;
        background-color: $color-ink;
      }
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      margin: 0;
    }

    span {
      width: 100px;
      min-height: 20px;
      border-radius: 4px;
      background-color: $color-red;

      &:empty {
        background-color: $color-green;
      }
    }
  }

  .checked {
    input {
      cursor: pointer;

      + label {
        cursor: pointer;

        &:after {
          content: 'Check the checkbox!';
        }
      }

      &:checked {
        + label {
          &:after {
            content: 'Everything works :)';
            color: $color-green;
          }
        }
      }
    }
  }

  .disabled {
    input:disabled {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .enabled {
    input:enabled {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .focus {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      width: 120px;

      &:focus {
        + span {
          &:before {
            content: 'Everything works :)';
            color: $color-green;
          }
        }
      }
    }
  }

  .default {
    display: flex;
    flex-direction: column;
    gap: 10px;

    form {
      margin-left: 2.5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .checks,
    .radios {
      display: flex;
      gap: 10px;
    }

    input {
      cursor: pointer;
      margin: 0;

      &:default {
        outline: 1px solid $color-green;
        outline-offset: 2px;
      }
    }
  }

  .first-child {
    span {
      color: $color-green;

      &:first-child {
        display: none;
      }
    }
  }

  .first-of-type {
    span {
      color: $color-green;

      &:first-of-type {
        display: none;
      }
    }
  }

  .last-of-type {
    span {
      color: $color-green;

      &:last-of-type {
        display: none;
      }
    }
  }

  .last-child {
    span {
      color: $color-green;

      &:last-child {
        display: none;
      }
    }
  }

  .nth-child-2 {
    span {
      color: $color-green;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .nth-last-child-2 {
    span {
      color: $color-green;

      &:nth-last-child(2) {
        display: none;
      }
    }
  }

  .nth-last-of-type-2 {
    span {
      color: $color-green;

      &:nth-last-of-type(2) {
        display: none;
      }
    }
  }

  .nth-of-type-2 {
    span {
      color: $color-green;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  .not {
    span {
      display: none;

      &:not(:last-child) {
        display: inline;
        color: $color-green;
      }
    }
  }

  .only-child {
    span {
      display: none;

      &:only-child {
        display: inline;
        color: $color-green;
      }
    }
  }

  .only-of-type {
    span,
    div {
      display: none;

      &:only-of-type {
        display: inline;
        color: $color-green;
      }
    }
  }

  .fullscreen {
    span {
      margin-bottom: 5px;
    }

    div {
      aspect-ratio: 1;
      width: 100px;
      border-radius: 10px;
      background-color: $color-charcoal;
      cursor: pointer;

      &:fullscreen {
        background-color: $color-green;
      }
    }
  }

  .in-range {
    input:in-range {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .indeterminate {
    form {
      margin-top: 10px;
      margin-left: 2.5px;

      input:indeterminate {
        outline: 1px solid $color-green;
        outline-offset: 2px;
      }
    }
  }

  .valid {
    input {
      margin-left: 10px;

      &:valid {
        margin-left: 10px;
        outline: 5px solid $color-green;
      }
    }
  }

  .invalid {
    input {
      margin-left: 10px;

      &:invalid {
        margin-left: 10px;
        outline: 5px solid $color-green;
      }
    }
  }

  .lang-en {
    :lang(en) {
      color: $color-green;
      font-weight: bold;
    }
  }

  .dir-ltr {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      text-align: left;

      &:dir(rtl) {
        color: $color-red;
      }

      &:dir(ltr) {
        color: $color-green;
      }
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      color: $color-white;
    }

    a:link {
      color: $color-green;
    }
  }

  .visited {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      color: $color-white;
    }

    a:visited {
      color: $color-green;
    }
  }

  .required {
    input:required {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .optional {
    input:optional {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .out-of-range {
    input:out-of-range {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .read-only {
    input:read-only {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .read-write {
    input:read-write {
      display: none;

      + span {
        &:before {
          content: 'Pass';
          color: $color-green;
        }
      }
    }
  }

  .root {
    &:before {
      content: var(--pseudo-selector-test-root);
      color: $color-green;
    }
  }

  @scope (.scope) {
    :scope {
      background: $color-green;

      &:before {
        content: var(--pseudo-selector-test-scope);
      }
    }

    .scope {
      &:before {
        content: var(--pseudo-selector-test-scope);
      }
    }
  }

  .target {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      color: $color-white;

      &:target {
        color: $color-green;
      }
    }
  }
}

@page :first {
  // margin: 2in;
}

@page :left {
  margin-left: 1in;
}

@page :right {
  margin-right: 1in;
}
