.controls-container {
  width: fit-content;
  background-color: var(--color-surface);
  box-shadow: inset 0 0 0 1px var(--gray-a7);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 10px 0;
}

.grammar-list-select,
.language-select {
  width: clamp(100px, 150px, 100%);
}

.status-container {
  width: fit-content;

  .status {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    span {
      font-family: monospace;
    }

    .indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transition: background-color 0.7s ease-in-out;
      background-color: var(--gray-a4);
      justify-self: start;

      &.on {
        background-color: var(--accent-9);
      }
    }
  }
}

.recognized-text-container {
  border: 1px solid var(--gray-a7);
  background-color: var(--color-surface);
  padding: 10px;
  border-radius: 5px;

  .text-area {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
    font-family: monospace;
    padding: 4px;

    @include scroll;

    span:hover {
      outline: 1px solid var(--color-white-transparent-50);
    }
  }

  .clear-button {
    align-self: end;
  }
}
