.css-functions {
  .hidden-container {
    // making sure the container is weeeeel hidden :D
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    left: -99999px;
    top: -99999px;
    transform: translate(-99999px, -99999px) scale(0);
    z-index: -99999;

    * {
      position: absolute;
      height: 20px;
    }
  }

  .table {
    overflow-x: auto;

    p {
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    .table-header-cell {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 20px;
    }

    .table-body {
      display: grid;
      grid-template-columns: minmax(200px, 1fr) repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 5px;

      .expression {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
