.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.default-cursors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;

  .cursor {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px dashed $color-white;
  }
}

.custom-cursors {
  display: flex;
  gap: 10px;
  min-height: 100px;

  .cursor {
    width: 100%;
    border-radius: 5px;
    border: 1px dashed $color-white;
  }
}
