.select-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .label {
    color: var(--color-white);
    opacity: 0.8;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  background-color: var(--color-surface);
  border: 1px solid var(--gray-a7);
  border-radius: var(--radius-2);
  cursor: pointer;

  .value {
    display: flex;
    align-items: center;
    flex: 1;
    height: 24px;
    aspect-ratio: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    display: grid;
    place-items: center;

    svg {
      transition: rotate 0.2s ease-in-out;
    }
  }

  &.open {
    .icon:not(.static) {
      svg {
        rotate: -90deg;
      }
    }
  }
}

.popover {
  width: 100%;
}

.options {
  padding: 8px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-panel-solid);
  border-top: none;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-5);
  overflow: hidden;

  .options-inner {
    @include scroll;

    margin-top: 10px;
    padding-right: 5px;
    overflow-y: auto;
    max-height: 300px;
  }

  .empty {
    display: grid;
    place-items: center;
    padding: 10px 4px 2px;
    color: var(--gray-a10);
  }

  .separator {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto 5px auto;

    span {
      line-height: 1;
      font-size: 0.875rem;
      color: var(--gray-a10);
    }

    div {
      background-color: var(--gray-a10);
      height: 1px;
      flex: 1;
      translate: 0 100%;
    }
  }

  .option {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--gray-12);
    padding: 2px;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &.pseudo-selected {
      background-color: var(--accent-12);
      color: var(--gray-5);
      border-radius: var(--radius-2);

      span {
        color: var(--gray-5 );
      }

      .check.selected {
        color: var(--accent-1);
      }
    }

    &.ellipsis:not(.wrap) {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.wrap {
      overflow-wrap: break-word;
    }

    .check {
      color: var(--gray-12);
      opacity: 0;
      flex: none;

      &.selected {
        opacity: 1;
      }
    }

    .text.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.search-icon {
  height: 60%;
  aspect-ratio: 1;
  padding-left: 4px;
}
