$color-green: #009688;
$color-green-dark-10: darken($color-green, 10%);
$color-green-2: #38cc76;
$color-red: #cc3838;
$color-warning: #d53b3b;
$color-white: aliceblue;
$color-charcoal: #171717;
$color-ink: #1e1e1e;
