:root {
  /* TODO remove */
  --relative-color-test-1: $color-green-dark-10;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  --pseudo-selector-test-root: 'Fail';
  --pseudo-selector-test-scope: 'Fail';
}

html,
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  background-color: $color-ink;
  color: $color-white;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;

  > h1 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 1.5rem;
  }

  > h2 {
    margin: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
