.nested-divs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  contain: content;

  div {
    width: fit-content;
  }

  *:empty {
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--color-green);
  }
}
