.svgs {
  h2 {
    @include subtitle;
  }

  .svgs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        border: 1px solid transparentize(aliceblue, 0.5);
      }
    }
  }
}
