.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  padding: var(--space-3);
  background-color: var(--red-a3);
  border: 1px solid var(--red-a7);
  color: var(--red-11);
  border-radius: var(--radius-2);
  text-align: center;
}

.lock-area {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  border: 1px dashed var(--color-white);
  position: relative;
  overflow: hidden;

  .pointer {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color-white);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
