.web-storage {
  h2 {
    @include subtitle;
    margin-bottom: 10px;
  }

  button {
    margin: 10px 0;
  }

  .error {
    color: var(--color-red);
  }

  .success {
    color: var(--color-green);
  }
}
