.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  container-type: inline-size;

  .controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    @container (width < 450px) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
  }
}
