.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 20px;
  gap: 5px;
  transition: translate 0.2s ease-in-out;

  &.hidden {
    translate: 0 200%;
  }
}

.video {
  width: 100%;
  height: 100%;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .button-with-icon {
    display: grid;
    place-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: var(--color-white-transparent-30);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-white);
    }
  }

  .volume-control {
    display: flex;
    align-items: center;
    gap: 10px;

    .volume-slider {
      width: 80px;

      > div {
        height: 8px;
      }
    }
  }
}

.progress-bar-container {
  position: relative;
  width: 100%;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  .progress-bar {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-white-transparent-50);
    cursor: pointer;

    .progress-bar-progress {
      width: 0;
      height: 100%;
      background-color: var(--color-white);
      border-radius: 10px;
    }

    .progress-bar-loaded {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--color-red);
      border-radius: 10px;
    }
  }

  .thumb {
    position: absolute;
    left: 0;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    translate: -50% 0;
  }
}
