.text-overflow {
  div {
    width: 150px;
    overflow: hidden;

    p {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
    }

    .text-overflow-ellipsis {
      text-overflow: ellipsis;
    }

    .text-overflow-clip {
      text-overflow: clip;
    }

    .text-overflow-string {
      text-overflow: '---';
    }

    .text-overflow-fade {
      text-overflow: fade;
    }
  }
}
