.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  row-gap: 5px;
  column-gap: 20px;

  .pass {
    color: var(--color-green);
  }

  .fail {
    color: var(--color-red);
  }
}
