.text-fill-color {
  p {
    width: fit-content;
    font-weight: bold;
  }

  h2 {
    font-weight: normal;
    font-size: 1.1rem;
  }

  .plain-color {
    -webkit-text-fill-color: var(--color-red);
    -moz-text-fill-color: var(--color-red);
    text-fill-color: var(--color-red);
  }

  .gradient {
    background: linear-gradient(
      45deg,
      var(--color-special-text-gradient-1) 0%,
      var(--color-special-text-gradient-2) 25%,
      var(--color-special-text-gradient-3) 50%,
      var(--color-special-text-gradient-4) 75%,
      var(--color-special-text-gradient-5) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animated-gradient {
    background: linear-gradient(
      90deg,
      var(--color-special-text-gradient-6) 0%,
      var(--color-special-text-gradient-7) 50%,
      var(--color-special-text-gradient-6) 100%
    );
    animation: animated-gradient 5s linear infinite;
    background-size: 200%;
    background-position-x: 0;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes animated-gradient {
      0% {
        background-position-x: 0;
      }

      50% {
        background-position-x: 100%;
      }

      100% {
        background-position-x: 200%;
      }
    }
  }

  .animated-color {
    animation: color-animation 10s linear infinite;

    @keyframes color-animation {
      0% {
        color: var(--color-special-text-gradient-8);
      }

      50% {
        color: var(--color-special-text-gradient-9);
      }

      100% {
        color: var(--color-special-text-gradient-10);
      }
    }
  }

  .image-fill {
    font-weight: 10000000;
    background-image: url('/assets/images/flying-cat.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
