@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.misc {
  .collapse {
    border: none;
  }

  .glow {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scale: 0.7;

    @media (width < 600px) {
      scale: 0.5;
    }
  }

  .examples {
    h2 {
      @include subtitle;
    }

    .replaced-element-container-size {
      padding: 10px;
      display: flex;
      height: 60px;

      > div {
        outline: 1px solid $color-red;
      }

      .icon {
        height: 100%;
      }
    }

    .crashOnHover {
      padding: 10px;
      width: 100px;
      height: 100px;
      background: $color-green;
    }

    .emojis {
      padding: 10px;

      .container {
        overflow-y: auto;
        width: 130px;
        outline: 1px solid red;
        word-break: break-all;
        font-size: 16px;

        span {
          font-family: 'Noto Color Emoji', sans-serif;
        }
      }
    }
  }
}

.sprite-container {
  width: 100%;
  height: 300px;

  .sprite-window {
    margin-inline: auto;
    aspect-ratio: 960 / 720;
    height: 100%;
    overflow: hidden;

    .sprite {
      height: 100%;
      animation-name: sprite-animation;
      animation-iteration-count: infinite;
      display: block;
    }
  }
}

.iframe {
  width: 100%;
  height: 300px;
  border: none;
}

.pass {
  color: $color-green;
}

.fail {
  color: $color-red;
}

@keyframes sprite-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
