.testDifficultStrings {
  label {
    margin: 10px;
    cursor: pointer;

    input {
      cursor: pointer;
      margin: 0 5px 0 0;
    }
  }

  .stringsContainer {
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > div {
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid $color-white;
      display: flex;
      flex-direction: column;
    }

    span {
      word-break: break-all;
      color: $color-white;
    }

    svg {
      text {
        fill: transparentize(#2e97f6, 0.1);
        stroke: transparentize(#2e97f6, 0.1);
      }
    }
  }
}
