.testDifficultStrings {
  .stringsContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;

    > div {
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid $color-white;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    span {
      word-break: break-all;
      color: $color-white;
    }

    svg {
      text {
        fill: transparentize(#2e97f6, 0.1);
        stroke: transparentize(#2e97f6, 0.1);
      }
    }
  }
}
