.contain {
  h2 {
    @include subtitle;
  }
}

.size {
  height: 200px;

  .parent {
    contain: size;
    min-height: 20px;
    border: 1px solid var(--color-white);
  }

  .child {
    width: 100px;
    height: 100px;
    background-color: var(--color-red);
  }
}

.layout {
  height: 350px;

  .parent {
    contain: layout;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-white);
  }

  .child {
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid var(--color-white);
  }

  .uncle {
    position: relative;
    width: 100px;
    aspect-ratio: 1;
    float: left;
    background-color: var(--color-red);
  }
}

.paint {
  .parent {
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid var(--color-white);
    contain: paint;
  }

  .child {
    width: 200px;
    aspect-ratio: 1;
    background-color: var(--color-red);
  }
}

.strict {
  .parent {
    contain: strict;
    border: 1px solid var(--color-white);
  }

  .child {
    width: 200px;
    height: 200px;
    background-color: var(--color-red);
  }
}
