.collapse {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  .collapse-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 10px;
    font-size: 26px;
    cursor: pointer;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;
    }

    .icon-container {
      display: flex;
      margin-right: 5px;

      .icon {
        transition: transform 1s ease-in-out;
      }

      &.open {
        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }

  .collapse-body {
    overflow-y: hidden;
    transition: height 1s ease-in-out;
    position: relative;
  }
}
