.collapse {
  width: 100%;
  overflow: hidden;

  .collapse-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 10px;
    cursor: pointer;
    background: transparent;
    transition: background-color 0.2s ease;
    color: var(--mauve-12);


    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      align-items: center;
      color: var(--mauve-10);
    }

    .icon-container {
      display: flex;
      color: var(--mauve-10);

      .icon {
        transition: transform 0.2s ease;
        font-size: 18px;
      }

      &.open {
        .icon {
          transform: rotate(90deg);
        }
      }
    }

    @media (max-width: $bp-md) {
      padding: $space-3;
    }
  }

  .collapse-body {
    overflow-y: hidden;
    transition: height 0.2s ease;
    position: relative;
    background: var(--mauve-2);
    color: var(--mauve-11);
    font-size: $text-sm;

    @media (max-width: $bp-md) {
      padding: $space-3;
    }
  }
}
