.transparency {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    gap: 10px;

    .video-player {
      margin-bottom: 20px;
    }

    video {
      width: 100%;
      height: auto;

      &.shadow {
        filter: drop-shadow(2px 4px 10px $color-black);
      }

      &.blur {
        filter: blur(5px);
      }

      &.color-burn {
        mix-blend-mode: color-burn;
      }
    }

    .color-control {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .reset-color {
      font-size: 14px;
      height: 30px;
    }
  }
}
