$line-height: 1.65;

.array-wrapper {
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: monospace;
  line-height: $line-height;

  .key {
    cursor: pointer;
  }
}

.collapsible-handle {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: monospace;
  line-height: $line-height;

  .icon {
    rotate: -90deg;
    transition: rotate 0.2s ease-in-out;
    color: $color-text-muted;
    opacity: 0.8;
  }

  &.open {
    .icon {
      rotate: 0deg;
    }
  }
}

.key {
  font-family: monospace;
  color: $color-text-muted;
  opacity: 0.8;
  margin-right: 5px;
}

.text-dark {
  color: $color-text-muted;
  font-family: monospace;
  line-height: $line-height;
  opacity: 0.8;
}

.text-light {
  font-family: monospace;
  line-height: $line-height;
  color: $color-text-secondary;
}

.key-value {
  font-family: monospace;
  line-height: $line-height;
}

.closed {
  display: flex;
  gap: 5px;
}

.left-offset {
  margin-left: 1rem;
}
