.header {
  display: grid;
  place-items: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    a {
      cursor: pointer;
      border-radius: 10px;
      background-color: #171717;
      padding: 5px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      color: aliceblue;
      font-size: 1.1rem;
      font-weight: 600;
      text-decoration: none;

      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken(#171717, 10%);
        transform: scale(1.1);
      }
    }
  }
}

.main {
  display: flex;
  justify-content: center;

  .mainText {
    width: 680px;
    font-size: 1.22rem;
    text-align: center;
    opacity: 0.7;

    span {
      text-decoration: line-through;
    }
  }
}
