.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .head {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: max-content;
  }

  .body {
    @include scroll;

    display: grid;
    grid-template-columns: subgrid;
    overflow-y: auto;
    grid-auto-rows: max-content;

    &.scroll {
      padding-right: 5px;
    }
  }

  .cell {
    border-top: 1px solid $color-white;
    border-left: 1px solid $color-white;
    padding: 5px 7px;
    font-family: monospace;
    word-break: break-all;

    &.header {
      font-weight: bold;
      display: grid;
      place-content: center;
      text-transform: capitalize;
      padding: 10px;
      position: sticky;
      top: 0;
      background-color: $color-charcoal;
      border-bottom: 1px solid $color-white;

      &:first-of-type {
        border-top-left-radius: 6px;
      }

      &:last-of-type {
        border-top-right-radius: 6px;
        border-right: 1px solid $color-white;
      }
    }

    &.body-cell {
      &.last-in-row {
        border-right: 1px solid $color-white;
      }

      &.first-row {
        border-top: none;
      }

      &.last-row {
        border-bottom: 1px solid $color-white;
        border-bottom-left-radius: 6px;

        ~ .last-row {
          border-bottom-left-radius: unset;
        }

        &:last-child {
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}
