.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .buttons {
    display: flex;
    gap: 5px;
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
